.THIS.header-details {
    padding-right:0;
    margin-top:5px;
    font-family: t(fontNormal);
    font-size: 18px;
    margin-bottom:15px;
}
.THIS .header-seporator {
    color:#747474;
    padding: 0 5px;
}
.THIS h2 ,
.THIS .header-icon {
    cursor: pointer;
}
.THIS .header-details span:not(.header-seporator) {
    padding: 0 5px;
}
.THIS .header-details span:first-child
{
    padding: 0 0 0 5px;
}
.THIS .header-envelope {
    width: 18px;
    height: 14px;
}

.THIS a {
    color:#4b6bdf;
}

.THIS .header-icon {
    padding: 0 4px;
    margin-left: 8px;
}

.THIS .buttonsSocial {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
}

.THIS .header-date {
    padding: 0;
    cursor: default;
    color: #747474;
}
.THIS .header-comments i {
    margin-right:5px;
    padding-left: 5px;
}
.THIS .header-comments ,
.THIS .header-comments .fa-comment-alt {
    margin:0px;
    padding-right: 0;
}
.THIS .tabletOnly {
    display: none;
}

@media only screen and (max-width: 1230px) {
    
    .THIS {
        font-size: 16px;
    }

    .THIS a {
        color: #747474;
    }

    .THIS .tablet-row {
        clear: both;
        display: block;
    }

    .THIS .desktopOnly {
        display: none;
    }
    .THIS .tabletOnly {
        display: inline;
    }
    
    .THIS .header-file a {
        display:inline-block;
        width: 12px;
        height: 24px;
        background-image: url(/resource/communityAssets/pdf-mobile.png);
        background-position: 0px 7px;
        background-repeat: no-repeat;
        vertical-align: text-bottom;
    }
    
    .THIS .header-file a i {
        display: none;
    }

    .THIS .action-tooltip.pop {
        display: inline-block;
        position: relative;
        width: 162px;
        background: #4b6bdf;
        line-height: 44px;
        top: -30px;
        margin-top: -10px;
        margin-bottom: -10px;
        text-align: center;
        object-fit: contain;
        border-radius: 21.5px;
        box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.15);
        border-bottom-right-radius: 3px;
        left: 0px;
    }
    .THIS .action-tooltip img {
        display: none;
    }

    .THIS .action-tooltip .far ,
    .THIS .action-tooltip .fa ,
    .THIS .action-tooltip .fab {
        color:#fff;
        padding: 9px;
        width: 30px;
        display: inline-block;
    }
    .THIS .header-actions.tabletOnly {
        display: inline-block;
        padding-right: 0;
        margin-right: 0;
    }
}