.THIS {
	background: #fff;
	padding: 31px 25px 20px 10px;
	margin-bottom: 20px;
}

.THIS.reply {
	margin-right: 156px;
}

.THIS .commentInner {
	display: table;
}

.THIS .userIcon {
	display: table-cell;
	width:65px;
}

.THIS .commentTexts {
	display: table-cell;
	vertical-align: top;
    width: 100%;
    padding-right: 20px;
}

.THIS .username {
	font-family: t(fontBold);
}

.THIS .commentDate {
	color: #747474;
	display: inline;
}

.THIS .commentBody {
	margin-top:24px;
	max-width: 900px;
    overflow: hidden;
}

.THIS.reply .commentBody { 
	max-width: 750px;
}

.THIS .commentSection {
	display: flex;
}

.THIS .sectionLabel {
	width:135;
	min-width: 135px;
}

.THIS .bySectionTitle {
	font-family: t(fontBold);
	font-size: 16px;
	color: #747474;
}

.THIS .section {
	font-family: t(fontBold);
	color: #000;
}

.THIS .visibility {
	background-image: url(/resource/communityAssets/lock.png);
	background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    background-position: center;
    position: relative;
    top: 4px;
    margin-right: 3px;
}

.THIS .visibility.public {
	background-image: url(/resource/communityAssets/globe.png);
}


.THIS .documentLink {
	display: block;
	margin-bottom: 5px;
}

.THIS .gotoPage {
	display: block;
	margin-top: 20px;
}

.THIS .documentLink .icon {
    background: url(/resource/communityAssets/pdf.png);
    width: 16px;
    display: inline-block;
    height: 21px;
	margin-left: 10px;
	vertical-align: sub;
}
.THIS .documentLink .icon-word {
	background-image: url(/resource/communityAssets/word.png);
}

.THIS .documentLink .fileName {
	color:#4b6bdf;
	border-bottom: 1px solid #4b6bdf;
}

.THIS .documentLink:hover {
	text-decoration: none;
}

@media only screen and (max-width: 1230px) {
	
	.THIS .documentLink {
		margin-bottom: 0;
	}

	.THIS .documentLink .icon {
		background: url(/resource/communityAssets/pdf-mobile.png);
		width: 12px;
		height: 15px;
	}

	.THIS .documentLink .icon-word {
		background-image: url(/resource/communityAssets/word-mobile.png);
	}

	.THIS .documentLink .fileName {
		vertical-align: text-top;
		border-bottom: 0 none;
	}

	.THIS  .commentTexts {
		max-width: 100px;
	}
}
