.THIS .showText{
    display: block;
}
.THIS .hideText{
    display: none;
} 
.THIS .body-text{
    font-size: 14px;
}

.THIS .showFile{
    display: compact;
}
.THIS .hideFile{
    /* display: none; */
}

.THIS .slds-icon-action-remove {
    padding: .05rem;
    border-radius: 50%;
}

.THIS .inheritFont{
	font-family: inherit !important;
	/* white-space: pre-wrap !important */
}

.THIS .preStyle {
	/* font-family: inherit !important; */
	white-space: pre-wrap !important
}