.THIS .showText{
    display: block;
}
.THIS .hideText{
    display: none;
} 
.THIS .editIcn{
    margin-top: 0.5rem;
    cursor:pointer;
} 
.THIS .body-text{
    font-size: 14px;
}

.THIS .showFile{
    display: compact;
}
.THIS .hideFile{
    display: none;
}

.THIS .slds-icon-action-remove {
    padding: .05rem;
    border-radius: 50%;
}

.THIS .inheritFont{
	font-family: inherit !important;
	/* white-space: pre-wrap !important */
}

.THIS .preStyle {
	/* font-family: inherit !important; */
	white-space: pre-wrap !important
}
.THIS .parent {
    justify-content: center;
    position: relative;
    /* width: 100%; */
    /* padding: 50%; */
   }    

   .THIS .image_outer {
    position:absolute;
    z-index:1;
    width:50%;    
    bottom:0px; 
    right:0px;     
  }
   .THIS .image_inner {
    position:absolute;
    z-index:2;
    width:30%;
    top:10px; right:10px; 
  }

  .THIS .image_inner1 {
    position:absolute;
    z-index:2;
    width:20px;
    top:10px; right:10px;
  }

  .THIS .noReply{
      background-color: pink;
  }

  .THIS .yesReply{
    background-color: greenyellow;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 991px) {
	.THIS .font-size {
		font-size: 16px;
    }
    .THIS .font-size_title {
		font-size: 18px;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 992px) {
	.THIS .font-size {
		font-size: 18px;
    }
    .THIS .font-size_title {
		font-size: 22px;
	}
}