@font-face {
    font-family: 'Assistant';
    src: url(/resource/AssistantFont/Assistant-Light.woff2);
}

@font-face {
    font-family: 'Assistant';
    src: url(/resource/AssistantFont/Assistant-Light.woff2);
}

@media only screen and (max-width: 991px) {
	
    .THIS .marge {
        margin-right: 3%;
    }
    .THIS .search {
        width:90%; 
        padding-right:10%;
    }
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 992px) {	
        .THIS .marge {
            margin-right: 3%;
    }  
    
    .THIS .search {
        width:80%; 
        padding-right:20%;
    }
}

/* Small devices (cellphones) */
@media only screen and (max-width: 600px) {	
    .THIS .marge {
        margin-right: 0%;
    }
    .THIS .search {
        width:96%; 
        padding-right:4%;
        margin-top:0%;
        padding-bottom:1%;
            
    }

}

.THIS .itemHeader b
{
    font-size: 36px;
    font-family: Assistant;
    font-weight: 600;
}
.THIS .itemBody
{
    font-size: 18px;
    font-family: Assistant;
}
.THIS .rtling
{
    direction: rtl !important;
}