.THIS .body{
  background-color: wheat;
}


.THIS .mainHeaderWrapper {
max-width:  token(maxPageWidth);
width:  token(maxPageWidth);
margin:0 auto 74px;
}

.THIS .mainPageImage {
display: inline-block;
position: relative;
margin-left: -50px;
}

.THIS .mainPageImage img {
  position: relative;
  left: -40px;
}

.THIS .mainHeaderText {
width: 800px;
float: right;
max-height: 100%; 
justify-content: center;
}

.THIS .lawItmes {
  background-color: #eff2f9;
  text-align: center;
  display: inline-block;
  width: 100%;
  padding: 31px 0 170px;
}

.THIS .headerText {
font: Assistant-bold
}

.THIS .mainPageHeaderTexts {
margin:12px 0 5px;
}

.THIS .headerText{      
height: 33px;
font-family: Assistant-bold;
font-size: 36px;
font-weight: bold;
font-style: normal;
font-stretch: normal;
line-height: 0.67;
letter-spacing: normal;    
color: #000000;
text-align: right;
}

.THIS .regularText{    
  font-family: Assistant;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  letter-spacing: normal;      
  color: #000000;
}

.THIS .mainPageButtons  {
  justify-content: center;
  margin-right: -36px;
}

.THIS .filterBy {
color: #000000;
font-size: 18px;
text-align: right;
margin:20px 0;
}

.THIS .lawCard {
margin: 10px auto 30px;
}

.THIS .LoadMore {
  color: #000;
  margin-top: 27px;
  width: 213px;
  height: 48px;
  border: solid 1px #747474;
  background-color: rgba(255,255,255,0.5);
  font-size: 16px;
  position: absolute;
  left: calc( 50% - 105px);
}

@media only screen and (max-width: 1230px) {
  .THIS .mainHeaderWrapper {
    max-width: 664px;
    float: right;
    margin-right: 140px;
  }

  .THIS .mainPageImage {
    display: none;
  }

  .THIS .mainHeaderText {
    width: 768px;
  }
  .THIS .font-size {
    font-size: 16px;
  }

  .THIS .headerText{    
    height: 33px;
    font-family: Assistant-bold;
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.67;
    letter-spacing: normal;    
    color: #000000;
    text-align: right;
  }

  .THIS .regularText{  
    font-family: Assistant;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.27;
    letter-spacing: normal;      
    color: #000000;
  }
  .THIS .filterBy {
    font-size: 14px;
    text-align: right;
  }
  .THIS .LoadMore {
    width: 107px;
    left: calc( 50% - 53px);
  }
}

@media only screen and (max-width: 950px) {
.THIS .mainHeaderWrapper {
  max-width: 100%;
  width: 100%;
  margin-right: 0;
  padding:0 24px 0 15px;
}
.THIS .mainHeaderText {
  width: 100%;
  margin-left: 20px;
}
.THIS .font-size {
  font-size: 22px;
}

.THIS .headerText{      
  height: 24px;
  font-family: Assistant-bold;
  font-size: 26px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.92;
  letter-spacing: normal;      
  color: #000000;
  text-align: right;
  margin-top: 20px;
}

.THIS .regularText{    
  font-family: Assistant;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;      
  color: #000000;
}

.THIS .filterBy {
  font-size: 14.5px;
  text-align: center;
}
}