.THIS .lineClass {
    width: 4px;
    height: 36px;
    background-color: #4b6bdf;
}

.THIS .textClass {
    font-family: Assistant;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.78;
    letter-spacing: normal;    
    color: #000000;
}

.THIS .textChoose {
    font-family: Assistant;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.78;
    letter-spacing: normal;    
    color: #4b6bdf;
}