.THIS section.overlay {
    background-color: rgba(0,0,0,0.5);
    position: absolute;
}

.THIS section.overlay .slds-modal__container {
    background: #fff;
    padding: 40px 64px 40px;
    width: 965px;
    min-width: 965px;
    height: auto;
    top: 131px;
    text-align: center;
    display: block;
}

.THIS section.overlay .buttons
{
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #d2d4d9;
    right: 0;
    height: 100px;
}

.THIS section.overlay .buttons button {
    float:left;
    margin-left: 41px;
    width:173px;
}

.THIS section.overlay button.clearFilters {
    background:transparent;
    color:#4b6bdf;
    border: 0 none;
    margin-left: 10px;
}

.THIS section.overlay button
{
    background-color:#264b89;
    color: #ffffff;
    line-height: 48px;
    margin-top:20px;
}
.THIS section.overlay {
    background-color: rgba(0,0,0,0.5);
}

.THIS section.overlay button
{
    background-color:#264b89;
    color: #ffffff;
    line-height: 48px;
    margin-top:20px;
}

.THIS section.overlay .close
{
    position: absolute;
    top: 25px;
    left: 25px;
    border: 0 none;
    color: #000;
    line-height: 18px;
    background-color: #fff;
    background-image: url(/resource/communityAssets/close.png);
    width: 20px;
    height: 20px;
}

.THIS section.overlay h3 {
    font-size: 22px;
    color:#000;
    text-align: right;
}
.THIS section.overlay h5 {
    font-size: 22px;
    color:#000;
    font-family: t(fontBold);
}

.THIS .classification-items {
    column-count: 3;
    text-align: right;
    margin-bottom: 100px;
}

.THIS .classification-items > div {
    display: inline-block;
    width:250px;
    margin-bottom: 35px;
}

.THIS .titlePanelWrapper {
    background-color: #eff2f9;
}
.THIS .titlePanel .sortFilter {
    float: left;
    padding-top: 16px;
}
.THIS .titlePanel 
{
    padding: 0 16px;
}

.THIS .results 
{
    padding: 38px 0 80px;
    background-color: #eff2f9;
}

.THIS .searchPanel 
{
    padding-bottom: 48px;
}

.THIS .content , .THIS .pageTop {
    width: 1230px;
    margin: 0 auto;
} 

.THIS .filters {
    display: inline-block;
    width: 301px;
    border: solid 1px #ffef41;
    background-color: #fffef3;
    padding:35px 14px 10px;
    vertical-align: top;
}

.THIS .filters h3 {
    font-size: 22px;
    font-family: t(fontBold);
    display: inline-block;
    color:#000;
} 

.THIS .filters .clearFilter {
    float: left;
}

.THIS lightning-calendar,
.THIS lightning-calendar * {
    direction: ltr;
}

.THIS .results .laws 
{
    margin-right:20px;
    display: inline-block;
    width: 908px;
}

.THIS .results .laws .lawCard  {
    width: auto;
    margin: 0 auto 30px;
    max-width: 1022px;
}

.THIS .filterSection , 
.THIS .filterSection.show {
    border-bottom: 1px solid #d2d4d9;
    padding: 20px 0 10px;
}

.THIS .modal_filters .filterSection {
    border-bottom: 0 none;
}

.THIS .filterSection H5 ,
.THIS .filterSection label {
    padding: 0 8px;
}

.THIS .filterSection .link,
.THIS .filterSection .more {
    margin-right: 32px;
}

.THIS .filterSection.lawTypes  lightning-input {
    width: calc( 100% - 40px);
    display: inline-block;
}

.THIS .filterSection.lawTypes  .counter {
    font-size: 16px;
    color: #747474;
}

.THIS .titlePanel h2 {
    width: 900px;
    display: inline;
}

.THIS .titlePanel {
    border-bottom:1px solid #d2d4d9;
    margin: 0 auto;
    width: 1230px;
}

.THIS .filterSection > h5 ,
.THIS .filterSection.filter .slds-form-element__label {
    font-size: 18px;
    font-family: t(fontBold);
    padding-bottom: 10px;
    color:#000;
    vertical-align: top;
}

.THIS .filterSection .slds-form-element__label {
    display: inline-block;
    width: 190px;
    margin-right: 6px;
    vertical-align: top;
}

.THIS .filterSection.filter .slds-form-element__label {
    padding-right: 2px;
}

.THIS .filterSection label {
    font-size: 18px !important;
}

.THIS .slds-checkbox .slds-checkbox__label .slds-form-element__label {
    font-size: 18px;
}

.THIS .distDate lightning-input {
    width:120px;
    display: inline-block;
    line-height:48px;
}

.THIS .distDate .datesDivider {
    width:20px;
    text-align: center;
    content: "-";
    display: inline-block;
}

.THIS .distDate input {
    line-height: 48px;
}

.THIS .distDate lightning-button-icon {
    top:19px;
} 

.THIS .distDate label {
    display: none;
}

.THIS .filtersHeader ,
.THIS .filterBottom , 
.THIS .openFiltersButton , 
.THIS .selectedItemsPlaceholder
{
    display: none;
}

.THIS .filters .selectedItemsPlaceholder {
    padding:13px 0 0;
    display: block;
}

.THIS .filters .filtersBody .slds-checkbox [type="checkbox"] + .slds-checkbox__label .slds-checkbox_faux {
    margin-right: 0;
}

.THIS .selectedItem {
    padding:2px 9px 2px 13px;
    border-radius: 5px;
    border: solid 1px #4b6bdf;
    background-color: #dae1f9;
    font-size:16px;
    color: #3758cf;
    margin:0 0 11px 11px;
    display: inline-block;
}

.THIS .selectedItem .X {
    background-image: url(/resource/communityAssets/clearSelectedItemX.png);
    background-repeat: no-repeat;
    cursor: pointer;
    background-position: right 8px;
    display: inline-block;
}

.THIS .selectedItem .X > lightning-input {
    display: inline-block;
    opacity: 0;
    overflow: hidden;
    height: 18px;
    width: 20px;
    cursor: pointer;
    float: right;
}

.THIS .totalCounter {
    margin-right: 10px;
}

.THIS .dateRange {
    padding: 0 7px 15px 0;
}

.THIS .pager {
    display: block;
    margin: -50px auto 0;
    direction: ltr;
    text-align: center;
    position: relative;
    top: 50px;
}

.THIS .pager span, 
.THIS .pager a {
    text-align: center;
    line-height: 30px;
    color: #747474;
    font-family: t(fontBold);
    text-decoration: none;
    display: inline-block;
    min-width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 5px;
    vertical-align: bottom;
}

.THIS .pager span.current
{
    background:#4b6bdf;
    color:#fff;
}

.THIS .pager .firstPage , 
.THIS .pager .lastPage {
    background-image: url(/resource/communityAssets/first.png);
}

.THIS .pager .prevPage ,
.THIS .pager .nextPage {
    background-image: url(/resource/communityAssets/prev.png);
}

.THIS .pager .firstPage.disabled , 
.THIS .pager .lastPage.disabled {
    background-image: url(/resource/communityAssets/first_disabled.png);
}

.THIS .pager .prevPage.disabled ,
.THIS .pager .nextPage.disabled {
    background-image: url(/resource/communityAssets/prev_disabled.png);
}

.THIS .pager .lastPage ,
.THIS .pager .nextPage {
    transform: rotate(180deg);
}

.THIS .sortFilter select {
    border: 0;
    cursor: pointer;
    text-align: right;
    background-color:transparent;
    -webkit-appearance: none;
}
.THIS .sortFilter select {
    border: 0;
    cursor: pointer;
    text-align: right;
    background-color:transparent;
    -webkit-appearance: none;
    padding: 0 5px;
}

.THIS .sortFilter .sortOrder  {
    border:0 none;
    background-image: url(/resource/communityAssets/sortOrder.png);
    height: 16px;
    width: 16px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
}

.THIS .sortFilter .sortOrder.ASC
{
    transform: rotate(180deg);
}

.THIS .modal_content {
    margin-bottom: 70px;
}

.THIS .modal_filters {
    display: table-row;
    height: 65px;
}

.THIS .modal_filters > div {
    display: table-cell;
}
.THIS .modal_filters div.right {
    width:526px;
    padding-left:10px;
}

.THIS .modal_filters input[type="text"]
{
    line-height: 48px;
    width:100%;
    height: 48px;
    padding:0 10px;
}

.THIS .modal_filters .uiInput--select.select {
   -webkit-appearance: none;
    padding: 0 10px 0 38px;
    background-image: url(/resource/communityAssets/sortOrder.png);
    background-repeat: no-repeat;
    background-position: left 6px center;
    height: 48px;
    background-size: auto;
    width: 300px;
}

.THIS .related_law_results .slds-checkbox_faux {
    margin-right:0px;
}

.THIS .related_law_results label {
    text-align: right;
    display: block;
    font-size: 18px;
    line-height: 35px;
}

.THIS .modal_filters .filterLabel {
    text-align: right;
    font-size: 18px;
    display: block;
    padding: 0 2px 10px;
}

.THIS .downloadCSV {
    background-color: #16325c;
    color: white;
    width: 100%;
    font-size: 16px;
    border: 0 none;
    line-height: 36px;
    margin-bottom: 16px;
}

.THIS .cCmp_LawCard .cardBody {
    max-width: 780px;
}

@media only screen and (min-width: 1230px) {
    .THIS .mobileOnly {
        display: none;
    }

    .THIS .filterSection:last-child {
        border-bottom: 0 none;
    }
}

@media only screen and (max-width: 1230px) {

    .THIS * {
        font-size: 16px;
    }

    .THIS .desktopOnly , 
    .THIS .filters .desktopOnly  {
        display: none;
    }
    
    .THIS .titlePanel > H2 {
        border-bottom: 1px solid #d2d4d9;
    }

    .THIS .filtersHeader H3 {
        margin-bottom: 0;
    }

    .THIS H2 .totalCounter {
       display: none
    }

    .THIS .results .laws .lawCard  {
        max-width: 664px;
        margin-bottom: 10px;
        display: block;
    }

    .THIS .filtersHeader ,
    .THIS .filterBottom
    {
        display: block;
    }

    .THIS .content , 
    .THIS .pageTop {
        width: auto;
    }

    .THIS section.overlay .slds-modal__container {
        width: 100%;
        min-width: 100%;
        margin: 0;
        top: 0;
        height: 100vh;
        padding: 75px 0;
    }

    .THIS .results , 
    .THIS .results .content
    {
        width: 100%;
    }

    .THIS .results {
        padding:0 0 80px;
    }

    .THIS .results .laws {
        margin-right: 0;
        display: block;
        width: 100%;
    }

    .THIS .results .content {
        display: block;
    }

    .THIS .filters {
        width: 100%;
        position: absolute;
        top: 0;
        z-index: 15;
        border: 0 none;
        background: #fff;
        display: none;
    }
    .THIS .filters label {
        width: 100%;
        display: block;
        line-height: 50px;
    }
    
    .THIS .modal_filters > div {
        display: block;
    }

    .THIS .openFiltersButton {
        background-image: url(/resource/communityAssets/filters.png);
        background-repeat: no-repeat;
        padding-right: 32px;
        background-position: right;
        color: #000;
        display: inline-block;
    }
    
    .THIS .titlePanel
    {
        display: block;
        padding: 18px 15px 0 13px;
        width:auto;
        border-bottom: 0 none;
    }
    
    .THIS .titlePanel h2
    {
        font-size: 24px;
        width:100%;
        display: block;
        padding-bottom: 13px;
    }

    
    .THIS .selectedItemsPlaceholder {
        padding:13px 0 0;
        display: block;
    }

    .THIS .filters .close  {
        border:0 none;
        position: absolute;
        left: 34px;
        width: 20px;
        height: 20px;
        background-image: url(/resource/communityAssets/close.png);
        top: 29px;
    }

    .THIS .filterSection:not(.show):not(.filter) > div {
        display: none;
    }

    .THIS .filterSection.filter {
        padding-top:10px;
        margin-top:0;
    }

    .THIS.showFilters .laws ,
    .THIS.showFilters .searchPanel ,
    .THIS.showFilters .pageTop {
        display: none;
    }

    .THIS.showFilters .filters {
        display: block;
        min-height: 100vh;
    }
    
    .THIS .titlePanel .sortFilter
    {
        padding-top:0px;
    }

    .THIS.showFilters .filters .filtersHeader, 
    .THIS section.overlay h3 
    {
        position: fixed;
        width: 100%;
        top: 0;
        line-height: 75px;
        z-index: 1;
        background-color: #fff;
        font-size: 24px;
        font-family: t(fontBold);
        padding-right: 51px;
        border-bottom: 1px solid #d3d3d3;
        right: 0;
    }

    .THIS.showFilters .filters .filtersBody {
        padding-bottom: 84px;    
    }

    .THIS.showFilters .filters .filterBottom {
        width: 100%;
        position: fixed;
        bottom: 0px;
        background-color: #fff;
        height:72px;
    }

    .THIS.showFilters .filters .filterBottom button ,
    .THIS .slds-modal__container .buttons button:not(.desktopOnly)
    {
        width: calc(100% - 104px);
        background-color: #264b89;
        line-height: 44px;
        color:#fff;
        margin: 0 52px;
        position: relative;
        display: block;
        top: 25px;
    }

    .THIS .slds-modal__container h3 {
        position: absolute;
        top: 0;
        width: 100%;
        right: 0;
    }

    .THIS .slds-modal__container .buttons {
        position: absolute;
        bottom: 0;
        width: 100%;
        right: 0;
    }
    
    .THIS section.overlay .classification-items {
        column-count: 1;
    }

    .THIS section.overlay .classification-items h3 {
        position: relative;
        background-color: #eff2f9;
        right: 0;
        width: 100%;
        margin-bottom: 0px;
    }

    .THIS .related_law_results label {
       line-height: 25px;
       border-bottom: 1px solid #d3d3d3;
       margin:0 20px;
       padding: 10px 0 10px 20px;
    }

    .THIS .filterSection  h5
    {
        display: inline-block;
        min-width: 200px;
    }

    .THIS .filterSection  .mobileFilterValues {
        width: calc(100% - 205px);
        display: inline-block;
        text-align: left;
    }

    .THIS .filterSection.show  .mobileFilterValues {
        display: none;
    }
    
    .THIS section.overlay .close {
        background-image: url(/resource/communityAssets/back.png);
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 2;
        right: 20px;
        top: 32px;
    }
    
    .THIS section.overlay .classification-item {
        margin-top:60px
    }

    .THIS .classification-items div , 
    .THIS .classification-items  {
        display: block;
        width:100%;
        margin-bottom: 0;
    } 
    
    .THIS .classification-items label
    {
        width: calc(100% - 40px);
        display: inline-block;
        padding: 0px 18px;
        cursor: pointer;
        border-bottom: 1px solid #d3d3d3;
        margin: 0 20px;
        line-height: 50px;
    }

    .THIS section.overlay h5 {
        background-color: #eff2f9;
        line-height: 55px;
        font-size: 18px;
        color:#000;
        padding: 0 21px;
    }
    .THIS section.overlay h4 {
        padding:10px 0;
    }

    .THIS .modal_filters > div ,
    .THIS .modal_filters > div.right {
        width: 100%;
    }

    .THIS .modal_filters .filterLabel {
        width: 100%;
        font-size: 18px;
        font-family: t(fontBold);
        padding-bottom: 10px;
        color: #000;
        line-height: 30px;
    }

    .THIS .filterSection label > .slds-checkbox_faux , 
    .THIS .related_law_results .slds-checkbox_faux
    {
        float: left;
        margin-top:19px;
    }
    .THIS .related_law_results .slds-checkbox_faux {
        margin-top: 6px;
    }

    .THIS .related_law_results .slds-form-element__label {
        display: block;
    }

    .THIS .filterSection.filter .slds-form-element__label {
        padding-right: 0;
        margin-right: 0;
    }

    .THIS .relatedLaws .modal_filters {
        display: flex;
        flex-direction: row;
        flex-flow: column;
        height: auto;
        padding: 0 28px;
    }

    .THIS .relatedLaws .filterSection 
    {
        border-bottom: 1px solid #d3d3d3;
    }

    .THIS .relatedLaws .filterSection:not(.show) :not(.filterLabel) {
        display: none;
    }

    .THIS .relatedLaws .right {
        order:2;
    }


    .THIS .relatedLaws .left {
        order:1;
    }

    .THIS .relatedLaws .right .uiInputText {
        background-image: url(/resource/communityAssets/magnifySmallWhite.png), linear-gradient( 90deg, #264b89 48px, #ffff 0 );
        background-position: 14px 14px, 0px 0px;
        background-repeat: no-repeat;
        width: 100%;
        margin: 10px 0px 20px
    }

    .THIS .relatedLaws .left .uiInput--select.select {
        width: calc( 100% - 40px );
        border: 0 none;
    }
    
    .THIS .filterSection.filter lightning-input {
        border-bottom: 1px solid #d2d4d9;
        height: 63px;
    }

    .THIS .filterSection.filter lightning-input label { 
        margin-top: -5px;
    }

    .THIS .filterSection.filter .link {
        font-size: 18px;
        font-family: t(fontBold);
        color: #000;
        padding: 20px 0 10px;
        display: block;
        margin-right: 10px;
        background-image: url(/resource/communityAssets/leftArrow.png);
        background-repeat: no-repeat;
        background-position: 10px 30px;
    }

   .THIS .mobileFilterValues span::after {
        content: ", ";
    }

    .THIS .mobileFilterValues span:last-child::after {
        content: "";
    }
}