.THIS .slds-file{
    width: 50%;     
}
.THIS .slds-file__title{
    display: flex;
    z-index: 5;
    align-items: center;
    height: 20%;
    padding: 0% !important;

}
.THIS img{
    width: 15%;
}