@font-face {
    font-family: t(fontBold);
    src: url(/resource/AssistantFont/Assistant-Bold.woff2);
  }
  
@font-face {
    font-family: t(fontNormal);
    src: url(/resource/AssistantFont/Assistant-Regular.woff2);
}

.THIS {
    overflow: hidden;
}

.THIS * {
    direction: rtl;
    font-family: t(fontNormal);
    font-size:18px;
}

.THIS .fa , .THIS .fas , .THIS .fal , .THIS .far {
    font-family: "Font Awesome 5 Free";
}

.THIS .fab {
    font-family: "Font Awesome 5 Brands";
}

.THIS button {
    text-align: center;
}

.THIS section.header {
    margin-bottom: 44px;
}

.THIS H2 {
    font-size: 36px;
    font-family: t(fontBold);
    margin-bottom: 41px;
}

.THIS H3 {
    font-size: 30px;
    font-family: t(fontBold);
    margin-bottom: 25px;
}

.THIS H4 {
    font-size: 22px;
    font-family: t(fontBold);
}

.THIS .bold {
    font-family: t(fontBold);
}

.THIS .center {
    text-align: center;
}

.THIS .pageContentPane {
    padding-top:100px;
}

.THIS .messages {
    width: 1200px;
    margin: 0 auto;
}

.THIS .messages .message {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border: 1px solid #faebcc;
    padding:10px 25px;
    margin-bottom: 10px;
}

.THIS .messages .message.success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.THIS .messages .message.error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.THIS.myaccount .messages {
    padding-right: 250px;
}

.THIS.myaccount .pageContentPane
{
    background: linear-gradient(90deg, #eff2f9 calc( 50% + 380px), #fff 50%);
}

@media only screen and (max-width: 1230px) {	
	.THIS h2 {
        font-size: 24px;
        margin-bottom: 15px;
    }

    .THIS .pageContentPane {
        padding-top:75px;
    }

    .THIS .messages , 
    .THIS.myaccount .messages {
        width: auto;
        margin: 0 10px;
        padding-right: 0px;
    }

    .THIS.myaccount .pageContentPane
    {
        background: #fff;
    }
}