.THIS .colors
{
    background-color: #dae1f9;border: solid 1px #4b6bdf;border-radius: 5px;

}
.THIS .btnColor
{
    color:#3758cf;

}



/* Extra small devices (phones, 768px and down) */
@media only screen and (max-width: 768px) {	
	/* override slds classes */
	.THIS .headerText {    
        font-family: Assistant;
        font-size: 15px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;    
        color: #3758cf;
        }
    .THIS .regText{
        font-family: Assistant;
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;    
        color: #3758cf;
    }
    
}


/* Medium + Large devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	/* override slds classes */
	.THIS .headerText {    
        font-family: Assistant;
        font-size: 16px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;    
        color: #3758cf;
        }
    .THIS .regText{
        font-family: Assistant;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;    
        color: #3758cf;
    }
}