<apex:page showHeader="false" cache="false" standardStylesheets="false" docType="html-5.0" 
        applyBodyTag="false" lightningStylesheets="true" applyHtmlTag="true">
    <head>
            <meta charset="utf-8" />
            <title>Moj</title>
            <meta property="og:title" content="11111" />
            <meta property="og:description" content="22 sfdg sfdg lsjf gj ja fdjasdf l2222" />
            <meta property="og:image" content="https://developers-moj.cs85.force.com/resource/communityAssets/shareLogo.png" />
            <meta property="og:image:secure_url" content="https://Logo.png" />
            <meta name="keywords" content="All your keywords" />
            <apex:includeLightning />

            <script>
                $Lightning.use("c:communityApp", function() {
                    $Lightning.createComponent("c:SampleMovLayout", 
                        { },
                        "lightningContent",
                        function(cmp) {
                            console.log(cmp);
                        });
                });
            </script>
        </head>
        <body>
            <div id="lightningContent"></div>
        </body>
</apex:page>