.THIS .cGo2Page {
    text-align: right;
    float: right;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 991px) {
	.THIS .font-size {
      font-size: 16px;
      font-family: Assistant;
    }
    .THIS .font-size_title {
      font-size: 18px;
      font-family: Assistant;
      color:#4b6bdf;
    }
    
    .THIS .header-font-size {
        font-size: 16px;
        font-weight: 600;
        font-family: Assistant;
        color: #000000;
      }
      .THIS .lock-font-size {
        font-size: 14px;        
        font-family: Assistant;
        color: #ffffff;
      }  

      .THIS .file-font-size {
        font-size: 16px;        
        font-family: Assistant;
        color: #4b6bdf;
      } 

      .THIS .body-font-size {
        font-size: 16px;        
        font-family: Assistant;
        color: #000000;
      }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 992px) {
	.THIS .font-size {
      font-size: 18px;
      font-family: Assistant;
    }
    .THIS .font-size_title {
      font-size: 22px;
      font-family: Assistant;
      color:#4b6bdf;
    }
    
    .THIS .header-font-size {
        font-size: 18px;
        font-weight: 600;
        font-family: Assistant;
        color: #000000;
      }
      .THIS .lock-font-size {
        font-size: 16px;        
        font-family: Assistant;
        color: #ffffff;
      }  
      .THIS .file-font-size {
        font-size: 18px;        
        font-family: Assistant;
        color: #4b6bdf;
      } 
      
      .THIS .body-font-size {
        font-size: 18px;        
        font-family: Assistant;
        color: #000000;
      }

}