.THIS.title 
{
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}

.THIS .field 
{
    font-size: normal;
    font-weight: bold;
}
.THIS .slds-textarea 
{
    height:240px;
    max-height:240px;
    overflow:auto;
}